body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  overflow: hidden;
  display: block;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-content {
  max-height:60px;
  overflow: hidden;
}

.navlink{
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
